# Auto detect text files and perform LF normalization
* text=auto
 
# Python files
*.py text eol=lf
 
# Config files
*.txt text eol=lf
*.md  text eol=lf
*.env text eol=lf
 
# Docker
Dockerfile text eol=lf
